@model asphomework1.Models.InsertSearch
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertIndex</title>
    
        
    
</head>
<body>
@using (Html.BeginForm("InsertOrder", "Customers", FormMethod.Post, new { id = "Form2" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div><h3>新增訂單</h3></div>
    <div>
        <table class="table" style="width:75%">
            <tr>
                <td>客戶名稱</td>
                <td>
                    @Html.DropDownListFor(Models => Models.CustomerID, (List<SelectListItem>)ViewData["CustomersData"])
                    @Html.ValidationMessageFor(Models => Models.CustomerID)
                </td>
            </tr>
            <tr>
                <td>負責員工名稱</td>
                <td >@Html.DropDownListFor(Models => Models.EmployeeID, (List<SelectListItem>)ViewData["EmpData"])
                @Html.ValidationMessageFor(Models => Models.EmployeeID)</td>
            </tr>
            <tr>
                <td>訂單日期</td>
                <td>@Html.TextBoxFor(Models => Models.OrderDate, new { @type = "date" })
                @Html.ValidationMessageFor(Models => Models.OrderDate)</td>
                <td>需要日期</td>
                <td>@Html.TextBoxFor(Models => Models.RequiredDate, new { @type = "date" })
                @Html.ValidationMessageFor(Models => Models.RequiredDate)</td>
            </tr>
            <tr>
                <td>出貨日期</td>
                <td>@Html.TextBoxFor(Models => Models.ShippedDate, new { @type = "date" })
                @Html.ValidationMessageFor(Models => Models.ShippedDate)</td>
            </tr>
            <tr>
                <td>出貨公司名稱</td>
                <td>@Html.DropDownListFor(Models => Models.ShipperID, (List<SelectListItem>)ViewData["ShippersData"])
                @Html.ValidationMessageFor(Models => Models.ShipperID)</td>
            </tr>
            <tr>
                <td>運費</td>
                <td>@Html.TextBoxFor(Models => Models.Freight,new { onchange = "totalsum()"})
                @Html.ValidationMessageFor(Models => Models.Freight)</td>
            </tr>
            <tr>
                <td>出貨國家</td>
                <td>@Html.TextBoxFor(Models => Models.ShipCountry)
                @Html.ValidationMessageFor(Models => Models.ShipCountry)</td>
                <td>出貨城市</td>
                <td>@Html.TextBoxFor(Models => Models.ShipCity)
                @Html.ValidationMessageFor(Models => Models.ShipCity)</td>
            </tr>
            <tr>
                <td>出貨地區</td>
                <td>@Html.TextBoxFor(Models => Models.ShipRegion)
                @Html.ValidationMessageFor(Models => Models.ShipRegion)</td>
                <td>郵遞區號</td>
                <td>@Html.TextBoxFor(Models => Models.ShipPostalCode)
                @Html.ValidationMessageFor(Models => Models.ShipPostalCode)</td>
            </tr>
            <tr>
                <td>出貨地址</td>
                <td>@Html.TextBoxFor(Models => Models.ShipAddress)
                @Html.ValidationMessageFor(Models => Models.ShipAddress)</td>
                <td>出貨說明</td>
                <td>@Html.TextBoxFor(Models => Models.ShipName)
                @Html.ValidationMessageFor(Models => Models.ShipName)</td>
            </tr>
            <tr>
                <td>訂單金額總計</td>
                <td><input type="text" id="ordersum" value="" disabled></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="存檔" />
                    @Html.ActionLink("回前一頁", "../Employees/Index")
                </td>
            </tr>
        </table>
    </div>
    <div><h3>訂單明細</h3></div>
    <div>
        <a id="addNewDetial" href="#">新增一筆</a>
        <table class="table" style="width:75%">
            <tr>
                <td>商品</td>
                <td>單價</td>
                <td>數量</td>
                <td>小計</td>
                <td></td>
            </tr>
            <tbody id="tbContent">

                @for (int i = 0; i < Model.OrderDetails.Count; i++)
                {
                    <tr>
                        <td>@Html.DropDownListFor(Models => Models.OrderDetails[i].ProductID, (List<SelectListItem>)ViewData["ProductsData"],new {@class = "ProductID",@onchange="GetPrice(this)" })</td>
                        <td>@Html.TextBoxFor(Models => Models.OrderDetails[i].UnitPrice,new {@class="UnitPrice",@id="UnitPrice",Value = ViewBag.PriceData[i].Value,@onchange = "change(this)" })</td>
                        <td>@Html.TextBoxFor(Models => Models.OrderDetails[i].Qty,new {@class="Qty",onchange="Count(this)" })</td>
                        <td><input type="text" class="detailsum" disabled></td>
                        <td><button type="button" class="btnRemove">取消</button></td>
                    </tr>
                }
                    
                
            </tbody>
        </table>

        
        @section scripts{
            <script type="text/javascript">
        //明細資料範本
        var trtemplate = $('#tbContent tr').eq(0).html();

        //新增一列名資料
        $("#addNewDetial").click(function (e) {
            $('#tbContent').append('<tr>' + trtemplate + '</tr>');
        });

        //移除TR
        $('#tbContent').on('click', '.btnRemove', function () {
            if ($('#tbContent tr').length > 1)
                $(this).closest('tr').remove();
        });

        //表單送出前置換element name 讓Action 可以讀到OrderDetials
        $('form').submit(function () {
            for (var i = 0 ; i < $('#tbContent tr').length; i++) {
                $('.ProductID').eq(i).attr('name', 'OrderDetails[' + i + '].ProductID');
                $('.Qty').eq(i).attr('name', 'OrderDetails[' + i + '].Qty');
                $('.UnitPrice').eq(i).attr('name', 'OrderDetails[' + i + '].UnitPrice');
            }
        });

        $("#ProductID").change(function (e) {

            $.ajax({
                type: "POST",
                url: "/Customers/GetProdutsUnitPrice",
                data: "ProductID=" + $("#ProductID").val(),
                dataType: "json",
                success: function (response) {

                    $("#UnitPrice").val(response.UnitPrice);
                }
            });
            return false;
        });

        var ordersum = 0;
        var total = 0;
        function GetPrice(item) {
            var price=[];
            var array = @Html.Raw(Json.Encode(@ViewBag.PriceData));

            for(var i = 0 ;i<array.length;i++){
                price[i]=array[i].Value;
            }
            $(item).parent().next('td').children().val(price[item.value-1]);
            var unitprice=$(item).parent().next('td').children().val();
            var qty=$(item).parent().next('td').next('td').children().val();
            if(qty != null){
                total=unitprice*qty;
            }else{
                total=0;
            }
            
            $(item).parent().next('td').next('td').next('td').children().val(total);
            totalsum();
        }
        //更改單價時，小計跟著變化
        function change(item){
            var unitprice=$(item).closest("input:text").val();
            var qty=$(item).parent().next('td').children().val();
            total=unitprice*qty;
            $(item).parent().next('td').next('td').children().val(total);
            totalsum();
        }
        //更改數量時，小計跟著變化
        function Count(item){
            var unitprice=$(item).parent().prev('td').children().val();
            var qty=$(item).closest("input:text").val();
            total=Math.round(unitprice*qty,1);
            $(item).parent().next('td').children().val(total);
            totalsum();
        }
        function totalsum(){
            ordersum = 0;
            var detailsum = document.getElementsByClassName("detailsum");
            for(var s=0;s<detailsum.length;s++){
                ordersum+=parseInt(detailsum[s].value);
                console.log(ordersum);
            }
            if($("#Freight").val() != ""){
                ordersum+=parseInt($("#Freight").val());
                document.getElementById("ordersum").value=ordersum;
            }else{
                
                document.getElementById("ordersum").value=ordersum;
            }
        }
          </script>
            }
    </div>
    }
</body>

</html>
